<!DOCTYPE html>
<html>

<head>
    <title>Databases are fun</title>
</head>

<body>
    <h2>You found....{{users.name}}</h2>
    <i>If nothing shows below, please double check your database function in db.js and ensure the database has been
        seeded with data.</i>
    <ul>

        <li>{{users.id}}: {{users.name}}, {{users.email}}</li>

    </ul>
    <img src="https://pbs.twimg.com/profile_images/768303675177439232/H0BQwt0D_400x400.jpg" />
    <p>Feel free to go back at any time, or continue searching other URL's such as /user/1 or /user/2</p>
    <a href="/">Take me home</a>
</body>

</html>